# Define stages
stages:
  - test
  - build
  - scan
  - deploy

# For Unit test
test-job:
  stage: test
  image: node:lts-alpine
  script:
    - npm ci
    - npm run test:ci
  # Tags are used to select the runner that will execute the job
  tags:
    - Project_Runner

# For Docker build
build-job:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - docker login registry.gitlab.com -u $GITLAB_USERNAME -p $PAT_TOKEN
    - docker build -t registry.gitlab.com/testing382203/intern:$CI_COMMIT_SHORT_SHA . 
    - docker push registry.gitlab.com/testing382203/intern:$CI_COMMIT_SHORT_SHA
  tags:
    - Project_Runner

# For Container Scanning with Trivy
image_scan:
  stage: scan
  image:
    name: docker.io/aquasec/trivy:latest
    # Entrypoint allows to override the default entrypoint of the image. From "trivy trivy --version" -> To "trivy --version" 
    entrypoint: [""]
  variables:
    GIT_STRATEGY: none
    # Gitlab registry login
    TRIVY_USERNAME: "$GITLAB_USERNAME"
    TRIVY_PASSWORD: "$PAT_TOKEN"
    TRIVY_AUTH_URL: "$CI_REGISTRY"
    TRIVY_NO_PROGRESS: "true"
    TRIVY_CACHE_DIR: ".trivycache/"
    FULL_IMAGE_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  script:
    - trivy --version
    # update vulnerabilities db
    - time trivy image --download-db-only
    # Builds report and puts it in the default workdir $CI_PROJECT_DIR, so `artifacts:` can take it from there
    - time trivy image --exit-code 0 --format template --template "@/contrib/gitlab.tpl"
        --output "$CI_PROJECT_DIR/gl-container-scanning-report.json" "$FULL_IMAGE_NAME"
    # Prints full report
    - time trivy image --exit-code 0 "$FULL_IMAGE_NAME"
    # Fail on critical vulnerabilities
    - time trivy image --exit-code 1 --severity CRITICAL "$FULL_IMAGE_NAME"
  tags:
    - Project_Runner

deploy-job:
  stage: deploy
  script:
    - echo "Deploy"
  tags:
    - Project_Runner