stages:
  - test
  - build
  - deploy

# For Unit test
test-job:
  stage: test
  image: node:lts-alpine
  script:
    - npm ci
    - npm run test:ci

# For Docker build
build-job:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - docker login registry.gitlab.com -u $GITLAB_USERNAME -p $PAT_TOKEN
    - docker build -t registry.gitlab.com/testing382203/intern:lastest . 
    - docker push registry.gitlab.com/testing382203/intern:lastest

deploy-job:
  stage: deploy
  script:
    - echo "Deploy"